@page
@using TarkovTracker.Pages.Shared
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Http
@using System.Security.Claims
@model TarkovTracker.Pages.LoginModel

@{
	ViewData["Title"] = "Tarkov Tracker";
	Layout = User.Identity.IsAuthenticated ? "_LoggedInLayout" : "_Layout";
	ViewData["playername"] = User.Identity.IsAuthenticated ? User.Identity.Name : "Guest";
	ViewData["role"] = User.IsInRole("admin") ? "admin" : "user";
}

<h2 class="mb-4">Login</h2>

<form method="post" class="form-group w-50">
	<div class="mb-3">
		<label asp-for="UserDto.Username" class="form-label">Username</label>
		<input asp-for="UserDto.Username" class="form-control" placeholder="Enter your username" />
		<span asp-validation-for="UserDto.Username" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="UserDto.passwordhash" class="form-label">Password</label>
		<input asp-for="UserDto.passwordhash" class="form-control" placeholder="Enter your password" type="password" />
		<span asp-validation-for="UserDto.passwordhash" class="text-danger"></span>
	</div>

	<button type="submit" class="btn btn-primary">Login</button>
</form>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
	<div class="alert alert-danger mt-3">@Html.Raw(Model.ErrorMessage)</div>
}

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
