@page
@model Register
@{
	ViewData["Title"] = "Tarkov Tracker";
	if (User.Identity.IsAuthenticated) Layout = "_LoggedInLayout";
	else Layout = "_Layout";
	var user = User;
	ViewData["playername"] = user.Identity.IsAuthenticated ? user.Identity.Name : "Guest"; ;
	ViewData["role"] = user.IsInRole("admin") ? "admin" : "user";
	}


<h2>Register</h2>

<form method="post">
	<input type="text" asp-for="UserDto.Username" placeholder="Username" />
	<input type="number" asp-for="UserDto.Level" placeholder="Level" />
	<input type="password" asp-for="UserDto.password" placeholder="Password" />
	<select asp-for="UserDto.Faction">
		<option value="USEC">USEC</option>
		<option value="BEAR">BEAR</option>
	</select>
	<input type="text" asp-for="UserDto.role" placeholder="Role" />
	<input type="submit" value="Add User" asp-page-handler="Add" />
</form>

